*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    text-align: center;
    color: #222;
}
/*******************************************************
HEADER OF THE PAGE
********************************************************/
a{
    text-decoration: none;
    color:yellow ;
}

.main-nav{
    background-color: darkblue;
    width: 100%;
    min-height: 30px;
    padding: 10px;
    text-align: center;
}

.nav{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    font-weight: 700px;
}

.nav .name{
    color: yellow;
    display: block;
    /* margin-right: auto/; */
}

/*******************************************************
MAIN SECTION OF THE PAGE
********************************************************/
h1{
    font-weight: normal;
}

table{
    width: 30%;
    height: 400px;
    margin: 3% auto;
    border: none;  
    box-shadow: 2px 2px 10px 1px rgb(158, 158, 158);
}

.textbox{
    padding: 10px;
    height: 50px;
    border: none;
}
.calc{
    background-color: white;
    color: black;
    padding: 20px 10px;
    border:3px solid white;
    font-family: cursive;
    font-size: 20px;
    box-shadow: 2px 2px 10px 1px rgb(160, 148, 148);
}
.diff{
    color: blue;
    background: rgb(202, 202, 202);
}
.equal{
    background: rgb(153, 226, 44);
}

/*******************************************************
FOOTER OF THE PAGE
********************************************************/
footer,
footer a{
    color: black;
    font-family: cursive;
    text-align: center;
    text-decoration: none;
}